#c1 {
	margin: 40px;
	margin-bottom: 0;
	margin-left: 0;
}
#content{
	margin-left: 350px;
	margin-top: 50px;

}

canvas{
	margin-top: 0px;
	background-image: url(sprite.png);
    background-position: left bottom;
	background-repeat: no-repeat;
}
#num1{
	display: inline-block;
	width:30px;
	font-size: 35px;
}
#num2{
	display: inline-block;
	width:30px;
	font-size: 35px;
}
#n3{
	display: inline-block;
	width:45px;
	font-size: 35px;
}
#line{
	display: inline-block;
	width:30px;
	font-size: 35px;
}

.wrong {
color:red;
background-color: yellow;
}
.right {
	color:black;
	background-color: white;
}
